ProjectsFiles/GUI/GameClient/GameClient-12.01.2020/Connected Services/ServiceReferenceMD5/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service1" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52590/ServiceMD5.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52590/ServiceMD5.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52590/ServiceMD5.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/System.Security.Cryptography" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IServiceMD5_GetMd5Hash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMd5Hash" />
  </wsdl:message>
  <wsdl:message name="IServiceMD5_GetMd5Hash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMd5HashResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMD5_GetMd5HashWithMD5Hash_InputMessage">
    <wsdl:part name="parameters" element="tns:GetMd5HashWithMD5Hash" />
  </wsdl:message>
  <wsdl:message name="IServiceMD5_GetMd5HashWithMD5Hash_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetMd5HashWithMD5HashResponse" />
  </wsdl:message>
  <wsdl:message name="IServiceMD5_VerifyMd5Hash_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyMd5Hash" />
  </wsdl:message>
  <wsdl:message name="IServiceMD5_VerifyMd5Hash_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyMd5HashResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMD5">
    <wsdl:operation name="GetMd5Hash">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMD5/GetMd5Hash" message="tns:IServiceMD5_GetMd5Hash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMD5/GetMd5HashResponse" message="tns:IServiceMD5_GetMd5Hash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetMd5HashWithMD5Hash">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMD5/GetMd5HashWithMD5Hash" message="tns:IServiceMD5_GetMd5HashWithMD5Hash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMD5/GetMd5HashWithMD5HashResponse" message="tns:IServiceMD5_GetMd5HashWithMD5Hash_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyMd5Hash">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMD5/VerifyMd5Hash" message="tns:IServiceMD5_VerifyMd5Hash_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMD5/VerifyMd5HashResponse" message="tns:IServiceMD5_VerifyMd5Hash_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMD5" type="tns:IServiceMD5">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetMd5Hash">
      <soap:operation soapAction="http://tempuri.org/IServiceMD5/GetMd5Hash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetMd5HashWithMD5Hash">
      <soap:operation soapAction="http://tempuri.org/IServiceMD5/GetMd5HashWithMD5Hash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="VerifyMd5Hash">
      <soap:operation soapAction="http://tempuri.org/IServiceMD5/VerifyMd5Hash" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="BasicHttpBinding_IServiceMD5" binding="tns:BasicHttpBinding_IServiceMD5">
      <soap:address location="http://localhost:52590/ServiceMD5.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>