ProjectsFiles/GUI/AdminWebSite/AdminWebSite/Connected Services/ServiceReference/AdminWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAdminPercentageTable">
        <s:complexType />
      </s:element>
      <s:element name="GetAdminPercentageTableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAdminPercentageTableResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdminPercentageLowestWinrate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="percentage" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdminPercentageLowestWinrateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetUpdateAdminPercentageHighestWinrate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="percentage" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetUpdateAdminPercentageHighestWinrateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetAdminPercentageHighestCurrentWinrate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="percentage" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdminPercentageHighestCurrentWinrateResponse">
        <s:complexType />
      </s:element>
      <s:element name="SetAdminPercentageLowestCurrentWinrate">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="percentage" type="s:double" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetAdminPercentageLowestCurrentWinrateResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAdminPercentageTableSoapIn">
    <wsdl:part name="parameters" element="tns:GetAdminPercentageTable" />
  </wsdl:message>
  <wsdl:message name="GetAdminPercentageTableSoapOut">
    <wsdl:part name="parameters" element="tns:GetAdminPercentageTableResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdminPercentageLowestWinrateSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdminPercentageLowestWinrate" />
  </wsdl:message>
  <wsdl:message name="SetAdminPercentageLowestWinrateSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdminPercentageLowestWinrateResponse" />
  </wsdl:message>
  <wsdl:message name="SetUpdateAdminPercentageHighestWinrateSoapIn">
    <wsdl:part name="parameters" element="tns:SetUpdateAdminPercentageHighestWinrate" />
  </wsdl:message>
  <wsdl:message name="SetUpdateAdminPercentageHighestWinrateSoapOut">
    <wsdl:part name="parameters" element="tns:SetUpdateAdminPercentageHighestWinrateResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdminPercentageHighestCurrentWinrateSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdminPercentageHighestCurrentWinrate" />
  </wsdl:message>
  <wsdl:message name="SetAdminPercentageHighestCurrentWinrateSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdminPercentageHighestCurrentWinrateResponse" />
  </wsdl:message>
  <wsdl:message name="SetAdminPercentageLowestCurrentWinrateSoapIn">
    <wsdl:part name="parameters" element="tns:SetAdminPercentageLowestCurrentWinrate" />
  </wsdl:message>
  <wsdl:message name="SetAdminPercentageLowestCurrentWinrateSoapOut">
    <wsdl:part name="parameters" element="tns:SetAdminPercentageLowestCurrentWinrateResponse" />
  </wsdl:message>
  <wsdl:portType name="AdminWebServiceSoap">
    <wsdl:operation name="GetAdminPercentageTable">
      <wsdl:input message="tns:GetAdminPercentageTableSoapIn" />
      <wsdl:output message="tns:GetAdminPercentageTableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdminPercentageLowestWinrate">
      <wsdl:input message="tns:SetAdminPercentageLowestWinrateSoapIn" />
      <wsdl:output message="tns:SetAdminPercentageLowestWinrateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetUpdateAdminPercentageHighestWinrate">
      <wsdl:input message="tns:SetUpdateAdminPercentageHighestWinrateSoapIn" />
      <wsdl:output message="tns:SetUpdateAdminPercentageHighestWinrateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdminPercentageHighestCurrentWinrate">
      <wsdl:input message="tns:SetAdminPercentageHighestCurrentWinrateSoapIn" />
      <wsdl:output message="tns:SetAdminPercentageHighestCurrentWinrateSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetAdminPercentageLowestCurrentWinrate">
      <wsdl:input message="tns:SetAdminPercentageLowestCurrentWinrateSoapIn" />
      <wsdl:output message="tns:SetAdminPercentageLowestCurrentWinrateSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AdminWebServiceSoap" type="tns:AdminWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdminPercentageTable">
      <soap:operation soapAction="http://tempuri.org/GetAdminPercentageTable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdminPercentageLowestWinrate">
      <soap:operation soapAction="http://tempuri.org/SetAdminPercentageLowestWinrate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUpdateAdminPercentageHighestWinrate">
      <soap:operation soapAction="http://tempuri.org/SetUpdateAdminPercentageHighestWinrate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdminPercentageHighestCurrentWinrate">
      <soap:operation soapAction="http://tempuri.org/SetAdminPercentageHighestCurrentWinrate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdminPercentageLowestCurrentWinrate">
      <soap:operation soapAction="http://tempuri.org/SetAdminPercentageLowestCurrentWinrate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="AdminWebServiceSoap12" type="tns:AdminWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAdminPercentageTable">
      <soap12:operation soapAction="http://tempuri.org/GetAdminPercentageTable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdminPercentageLowestWinrate">
      <soap12:operation soapAction="http://tempuri.org/SetAdminPercentageLowestWinrate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetUpdateAdminPercentageHighestWinrate">
      <soap12:operation soapAction="http://tempuri.org/SetUpdateAdminPercentageHighestWinrate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdminPercentageHighestCurrentWinrate">
      <soap12:operation soapAction="http://tempuri.org/SetAdminPercentageHighestCurrentWinrate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetAdminPercentageLowestCurrentWinrate">
      <soap12:operation soapAction="http://tempuri.org/SetAdminPercentageLowestCurrentWinrate" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AdminWebService">
    <wsdl:port name="AdminWebServiceSoap" binding="tns:AdminWebServiceSoap">
      <soap:address location="http://localhost:60867/AdminWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="AdminWebServiceSoap12" binding="tns:AdminWebServiceSoap12">
      <soap12:address location="http://localhost:60867/AdminWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>